In [1]:
import os
import pandas as pd

In [2]:
data_folder = '../data'
#The dataset files can be accessed and downloaded from https://datasets.imdbws.com/
files = os.listdir(data_folder)
files = [os.path.join(data_folder,f)  for f in files]
files

['../data/title.ratings.tsv', '../data/title.basics.tsv']

In [3]:
ratings = pd.read_csv(os.path.join(data_folder,'title.ratings.tsv'), sep="\t")
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1660
1  tt0000002            6.1       203
2  tt0000003            6.5      1372
3  tt0000004            6.2       123
4  tt0000005            6.2      2161

In [4]:
basics = pd.read_csv(os.path.join(data_folder,'title.basics.tsv'), sep="\t")
basics.head()

/home/michalb/miniconda3/envs/ads/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
basics = pd.concat([basics, ratings], axis=1, join='inner')

In [6]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tconst,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",tt0000001,5.6,1660
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",tt0000002,6.1,203
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",tt0000003,6.5,1372
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",tt0000004,6.2,123
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",tt0000005,6.2,2161

In [7]:
df = basics[basics["endYear"]!="\\N"]
basics["titleType"].value_counts()

tvEpisode       537300
movie           232836
short           144710
video            60690
tvSeries         46454
tvMovie          42517
tvSpecial         7096
tvShort           6709
tvMiniSeries      6327
videoGame         5546
Name: titleType, dtype: int64

In [11]:
# For local version of db
df.to_csv(os.path.join(data_folder, 'merged.csv'))

In [8]:
!pip install pymongo
!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: pymongo in /opt/venv/lib/python3.7/site-packages (3.11.0)
Requirement already satisfied: dnspython in /opt/venv/lib/python3.7/site-packages (1.16.0)
Requirement already satisfied: pymongo[srv] in /opt/venv/lib/python3.7/site-packages (3.11.0)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /opt/venv/lib/python3.7/site-packages (from pymongo[srv]) (1.16.0)
Connected successfully!!!
/opt/venv/lib/python3.7/site-packages/ipykernel_launcher.py:19: UserWarning: DataFrame columns are not unique, some columns will be omitted.

In [8]:
import pymongo
mongo_uri = "mongodb+srv://test:1234@cluster0.rvcwr.mongodb.net/imdbADS?retryWrites=true&w=majority"

# Connect to MongoDB
try:
    conn=pymongo.MongoClient(mongo_uri)
    print ("Connected successfully!!!") 

except pymongo.errors.ConnectionFailure as e:
    print ("Could not connect to MongoDB: %s" % e)


db = conn['imdbADS']
collection = db.basics
collection.insert_many(basics.to_dict("records"))

ConfigurationError: The "dnspython" module must be installed to use mongodb+srv:// URIs